.full-product
  &__product-wrapper
    padding: 80px 0
    background: url("../images/full-product/bg.jpg") no-repeat center / cover
  &__product-image
    width: 100%
    @media (min-width: 768px)
      width: 50%
    img
      max-width: 100%
      display: block
      margin: auto
  &__product-wrapper-info
    width: 50%
  &__product-title
    font-family: $Montserrat
    color: $red
    font-size: 38px
  &__product-info
    font-family: $PT_Sans
    color: $def-color
    font-size: 20px
  &__product-amount
    font-family: $Montserrat
    font-size: 23px
    font-weight: bold