.top-product-description-block
  background-image: url("../images/bg-12-week-header.jpg")
  background-repeat: no-repeat
  background-size: cover
  padding: 65px 0
  //padding: 65px 0 47px
  @media screen and (max-width: $breakpoint-mobile)
    padding: 15px 0 15px

  .wrapper
    align-items: center
    display: flex
    justify-content: space-between
    padding-left: 15px
    padding-right: 15px
    @media screen and (max-width: $breakpoint-mobile)
      flex-wrap: wrap

  .product-preview-wrapper
    //float: left
    width: 50%

    @media screen and (max-width: $breakpoint-mobile)
      float: none
      width: 100%
    .image-wrapper
      align-items: center
      display: flex
      justify-content: center
      height: 100%

  .image-wrapper
    margin: 15px auto
    text-align: center
    img
      max-width: 100%
      //max-height: 360px
      max-height: 500px
      @media screen and (max-width: $breakpoint-mobile)
        max-height: 220px
        max-width: 62.5%
  .product-info-block
    //float: left
    width: 50%

    @media screen and (max-width: $breakpoint-mobile)
      float: none
      width: 100%

  .product-info

    .product-description-block
      p
        font-size: 20px
        line-height: 26px
      sub
        font-size: 20px
        line-height: 26px

    @media screen and (min-width: $breakpoint-mobile)
      padding-left: 10px
    @media screen and (max-width: $breakpoint-mobile)
      text-align: center

  .product-title-block
    @media screen and (max-width: $breakpoint-mobile)
      margin-top: 8px

    .product-title
      color: #eb212e
      font-size: 38px
      font-family: Montserrat, Arial, Helvetica, sans-serif
      font-weight: 700
      line-height: 41px !important
      margin: 0
      text-transform: uppercase

      @media (max-width: 450px)
        &.custom-w
          max-width: 270px
          margin: auto
          &--210
            max-width: 210px
      @media screen and (max-width: $breakpoint-mobile)
        font-size: 30px
        line-height: 30px !important

      @media screen and (max-width: 550px)
        font-size: 24.32px

      &-sub-line
        color: #29282e
        font-size: 16px
        letter-spacing: 0
        line-height: 20px
        margin: 0
  .product-description
    color: #29282e
    font-size: 20px
    line-height: 26px
    margin: 27px 0 30px

    @media screen and (max-width: $breakpoint-mobile)
      font-size: 16px
      line-height: 22px
      margin-bottom: 11px

  .product-description-list
    &-item
      @media screen and (max-width: $breakpoint-mobile)
        font-size: 16px
        line-height: 22px
    @media screen and (max-width: $breakpoint-mobile)
      &.mobile-center-width
        max-width: 80%

  .product-price-block
    .product-price
      margin: 25px 0 0

    .product-amount
      display: flex
      color: #ed1c24
      font-family: Montserrat, Arial, Helvetica, sans-serif
      font-size: 30px
      font-weight: 700
      line-height: 26px
      margin: 0 5px 30px
    &--radio
      .product-amount
        margin: 0 20px
        @media screen and (max-width: 350px)
          margin: 0 20px
          font-size: 25px
      @media (max-width: $breakpoint-mobile)
        justify-content: center
    .price-radio-block
      @media screen and (max-width: $breakpoint-mobile)
        text-align: left
        margin: auto
        width: 300px
        box-sizing: border-box
      @media screen and (max-width: 340px)
        max-width: 250px

      &__desc
        max-width: 130px
        font-size: 16px
        color: #29282e
        font-weight: 300
        line-height: 24px
        @media screen and (max-width: 350px)
          font-size: 14px
          max-width: 100px
          line-height: 18px
      .old-price
        margin: 0 0 5px 20px
        display: block
        font-size: 17px
        font-family: $Montserrat
        color: #494949
        text-decoration: line-through

    .price-radio
      margin-bottom: 20px
      cursor: pointer
      &:nth-child(2)
        margin-bottom: 0
      input
        position: absolute
        display: none
      .custom-input
        width: 30px
        height: 30px
        border: 1px solid #7c787e
        position: relative
        border-radius: 50%
        display: block
        &:after
          content: ''
          position: absolute
          display: none
          width: 14px
          height: 14px
          border-radius: 50%
          background: $red
          left: 50%
          top: 50%
          margin-left: -7px
          margin-top: -7px
      input[type=radio]:checked
        & + .custom-input
          &:after
            display: block

  .product-button-block
    .add-to-cart-wrapper
      margin: 30px 0 0
      @media screen and (max-width: $breakpoint-mobile)
        margin: 30px 0 25px
      .add-to-cart-btn
        border-radius: 3px
        box-sizing: border-box
        display: block
        font-family: Montserrat, Arial, Helvetica, sans-serif
        font-size: 23px
        font-weight: 700
        margin: 0
        outline: none
        padding: 10px 0
        text-align: center
        text-decoration: none
        text-transform: uppercase
        width: 212px

        @media screen and (max-width: $breakpoint-mobile)
          margin: 0 auto
        @media screen and (max-width: 420px)
          max-width: 310px
          width: 100%
  .has-old-price
    &>.product-amount
      margin-left: 0
      margin-bottom: 20px
      font-size: 24px


      &:before
        display: block
        margin-right: 10px
        content: 'Today:'
      &--new-price
        &:before
          content: 'New price:'
      &.product-amount--old
        color: $def-color
        &:before
          content: 'Before:'