.site_title {
  text-align: center;
  .logo {
    width: 110px;
    margin: auto;
  }
  .mini-logo {
    display: none;
    width: 35px;
    height: 60px;
    margin: auto;
  }
}

.nav-sm .navbar.nav_title a .logo {
  display: none;
}

.nav-sm .navbar.nav_title a .mini-logo {
  display: block;
}
.item-edit {
  font-size: 20px;
  color: #949400;
}
.item-delete {
  font-size: 20px;
  color: #D8414F;
  padding-left: 15px;
}
.caption {
  p {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
  }

}
.caption{
  p:hover {
    background: #f0f0f0;
    white-space: normal;
  }
}
input[type="checkbox"] {
  margin-top: 10px;
}