.top-home-banner-block-wrapper {
  padding: 10px; }
  @media screen and (max-width: 1500px) {
    .top-home-banner-block-wrapper {
      height: 100%; } }
  .top-home-banner-block-wrapper .top-home-banner-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: none;
    min-height: 0;
    padding: 0; }
    .top-home-banner-block-wrapper .top-home-banner-block.mobile-block {
      display: none; }
    @media screen and (max-width: 1500px) {
      .top-home-banner-block-wrapper .top-home-banner-block {
        height: -webkit-calc(100vh - 150px);
        height: calc(100vh - 150px); } }
    @media screen and (max-width: 1050px) {
      .top-home-banner-block-wrapper .top-home-banner-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto; } }
    @media screen and (max-width: 800px) {
      .top-home-banner-block-wrapper .top-home-banner-block {
        padding-bottom: 0; } }
    .top-home-banner-block-wrapper .top-home-banner-block .main-product, .top-home-banner-block-wrapper .top-home-banner-block .secondary-products {
      display: inline-block;
      height: 100%; }
      @media screen and (max-width: 1050px) {
        .top-home-banner-block-wrapper .top-home-banner-block .main-product, .top-home-banner-block-wrapper .top-home-banner-block .secondary-products {
          display: block;
          height: auto;
          width: 100%; } }
      .top-home-banner-block-wrapper .top-home-banner-block .main-product a, .top-home-banner-block-wrapper .top-home-banner-block .secondary-products a {
        display: block;
        cursor: pointer; }
        @media screen and (max-width: 1500px) {
          .top-home-banner-block-wrapper .top-home-banner-block .main-product a, .top-home-banner-block-wrapper .top-home-banner-block .secondary-products a {
            height: 100%; } }
        @media screen and (max-width: 1050px) {
          .top-home-banner-block-wrapper .top-home-banner-block .main-product a, .top-home-banner-block-wrapper .top-home-banner-block .secondary-products a {
            height: auto; } }
        .top-home-banner-block-wrapper .top-home-banner-block .main-product a img, .top-home-banner-block-wrapper .top-home-banner-block .secondary-products a img {
          border-style: none;
          height: auto;
          max-width: 100%;
          vertical-align: top; }
          .top-home-banner-block-wrapper .top-home-banner-block .main-product a img.mobile-image, .top-home-banner-block-wrapper .top-home-banner-block .secondary-products a img.mobile-image {
            display: none; }
          @media screen and (max-width: 1500px) {
            .top-home-banner-block-wrapper .top-home-banner-block .main-product a img, .top-home-banner-block-wrapper .top-home-banner-block .secondary-products a img {
              display: block;
              height: 100%; } }
          @media screen and (max-width: 1050px) {
            .top-home-banner-block-wrapper .top-home-banner-block .main-product a img, .top-home-banner-block-wrapper .top-home-banner-block .secondary-products a img {
              height: auto; } }
          @media screen and (max-width: 767px) {
            .top-home-banner-block-wrapper .top-home-banner-block .main-product a img.desktop-image, .top-home-banner-block-wrapper .top-home-banner-block .secondary-products a img.desktop-image {
              display: none; }
            .top-home-banner-block-wrapper .top-home-banner-block .main-product a img.mobile-image, .top-home-banner-block-wrapper .top-home-banner-block .secondary-products a img.mobile-image {
              display: block;
              width: 100%; } }
    .top-home-banner-block-wrapper .top-home-banner-block .main-product {
      margin-right: 10px; }
      @media screen and (max-width: 1050px) {
        .top-home-banner-block-wrapper .top-home-banner-block .main-product {
          margin-right: 0;
          margin-bottom: 10px; } }
      @media screen and (max-width: 767px) {
        .top-home-banner-block-wrapper .top-home-banner-block .main-product {
          margin-bottom: 30px; } }
    .top-home-banner-block-wrapper .top-home-banner-block .secondary-products .tabs-flex {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media screen and (max-width: 1050px) {
        .top-home-banner-block-wrapper .top-home-banner-block .secondary-products .tabs-flex {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; } }
      @media screen and (max-width: 767px) {
        .top-home-banner-block-wrapper .top-home-banner-block .secondary-products .tabs-flex {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      @media screen and (max-width: 1500px) {
        .top-home-banner-block-wrapper .top-home-banner-block .secondary-products .tabs-flex a {
          height: -webkit-calc(50% - 5px);
          height: calc(50% - 5px); } }
      @media screen and (max-width: 1050px) {
        .top-home-banner-block-wrapper .top-home-banner-block .secondary-products .tabs-flex a {
          height: auto; } }
      .top-home-banner-block-wrapper .top-home-banner-block .secondary-products .tabs-flex a.top {
        margin-bottom: 10px; }
        @media screen and (max-width: 1050px) {
          .top-home-banner-block-wrapper .top-home-banner-block .secondary-products .tabs-flex a.top {
            margin-bottom: 0;
            margin-right: 15px; } }
        @media screen and (max-width: 767px) {
          .top-home-banner-block-wrapper .top-home-banner-block .secondary-products .tabs-flex a.top {
            margin-bottom: 30px;
            margin-right: 0; } }
      @media screen and (max-width: 1050px) {
        .top-home-banner-block-wrapper .top-home-banner-block .secondary-products .tabs-flex a.bottom {
          margin-left: 15px; } }
      @media screen and (max-width: 767px) {
        .top-home-banner-block-wrapper .top-home-banner-block .secondary-products .tabs-flex a.bottom {
          margin-bottom: 30px;
          margin-left: 0; } }
      @media screen and (max-width: 480px) {
        .top-home-banner-block-wrapper .top-home-banner-block .secondary-products .tabs-flex a.bottom {
          margin-bottom: 0; } }
