.ql-video {
  display: block;
}
.ql-video.ql-align-right {
  margin: 0 0 0 auto;
}
.ql-video.ql-align-center {
  margin: 0 auto;
}

.ql-align-center {
  text-align: center; }

.ql-align-left {
  text-align: left; }

.ql-align-right {
  text-align: right; }

.ql-align-justify {
  text-align: justify; }