.flex
  display: flex
  @media (max-width: $breakpoint-mobile)
    &--m-block
      display: block
  &-a--center
    align-items: center
  &-a--bottom
    align-items: flex-end
  &-a--top
    align-items: flex-start
  &-j--center
    justify-content: center
  &-j--between
    justify-content: space-between
  &-j--end
    justify-content: flex-end
div
  box-sizing: border-box
.triangle-bottom
  position: relative
  margin-bottom: 0

  &:after
    content: ''
    position: absolute
    border: 40px solid transparent
    border-top: 40px solid #f5f3f3
    bottom: -80px
    left: 50%
    margin-left: -40px
    @media screen and (max-width: $breakpoint-mobile)
      border: 25px solid transparent
      border-top: 25px solid #f5f3f3
      bottom: -50px
      margin-left: -20px
  &--large
    &:after
      border: 25px solid transparent
      border-top: 25px solid #f5f3f3
      bottom: -50px

      @media screen and (min-width: $breakpoint-mobile+1)
        border: 50px solid transparent
        border-top: 50px solid #f5f3f3
        bottom: -100px
        margin-left: -50px

.text-center
  text-align: center
.text-right
  text-align: right
.full-width
  width: 100%

.after-lines
  position: relative
  margin: auto




  @media (min-width: $breakpoint-mobile + 1)
    width: 75%
    &:after,
    &:before
      content: ''
      display: block
      width: 13%
      position: absolute
      height: 1px
      background: $def-color
      top: 50%
      margin-top: -.5px
    &:after
      right: -10.5%
    &:before
      left: -10.5%
  &--large
    width: 50%

    @media (max-width: $breakpoint-mobile)
      width: 100%
    &:after,
    &:before
      width: 37%
    &:after
      right: -50%
    &:before
      left: -50%
    @media (max-width: 1300px)
      &:after
        right: -35%
      &:before
        left: -35%
  &--large2
    box-sizing: border-box
    width: 40%
    @media (max-width: $breakpoint-mobile)
      width: 100%
    &:after,
    &:before
      width: 85%
    &:after
      right: -75%
    &:before
      left: -75%
    @media (max-width: 1200px)
      &:after,
      &:before
        width: 60%
      &:after
        right: -60%
      &:before
        left: -60%
  &--white
    color: white !important
    &:after,
    &:before
      background: white
  &--red
    &:after,
    &:before
      background: $red
  @media screen and (max-width: 1200px)
    padding-left: 30px
    padding-right: 30px

  @media screen and (max-width: 550px)
    padding-left: 15px
    padding-right: 15px

.inline-block
  &>div
    display: inline-block

a
  transition: .2s
  text-decoration: none

  &:hover
    text-decoration: none
    outline: 0
img
  max-width: 100%

.btn
  background: none
  padding: 0
  border: 0
  display: block
  outline: 0
  cursor: pointer

.grey-section
  background: #f5f3f3
  padding: 30px 0 0
  @media screen and (min-width: $breakpoint-mobile + 1)
    padding: 0px 0

.border-red
  border-color: $red !important


.border-top
  border-top: 1px solid grey
  &--grey
    border-color: #eaeaea

.fixed-header
  padding-top: 90px


.block-35
  width: 35%
.block-45
  width: 45%
.block-50
  width: 50%
.block-75
  width: 75%

.m-block-100
  @media screen and (max-width: $breakpoint-mobile)
    width: 100%


.wrapper-btns-buy-count
  @media screen and (max-width: $breakpoint-mobile)
    justify-content: center
  @media screen and (max-width: 420px)
    display: block
.btn-wrapper-product-count
  margin: 30px 30px 25px 0
  color: #29282e
  @media screen and (max-width: $breakpoint-mobile)
    justify-content: center
  @media screen and (max-width: 420px)
    max-width: 310px
    margin: 30px auto
  .product-count
    border: 1px solid #29282e
    border-left: 0
    border-right: 0
    background: none
    height: 48px
    width: 49px
    box-sizing: border-box
    text-align: center
    outline: 0
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
      -webkit-appearance: none
      margin: 0
    @media screen and (max-width: 420px)
      width: 33%
  .btn
    border: 1px solid #29282e
    height: 48px
    width: 34px
    background: none
    font-size: 16px
    transition: .2s
    @media screen and (min-width: $breakpoint-mobile + 1)
      &:hover
        border: 1px solid #8b8b95
        color: $red
    @media screen and (max-width: 420px)
      width: 33%

.product-price-block
  .product-price
    margin: 25px 0 0

  .product-amount
    display: flex
    color: #ed1c24
    font-family: Montserrat, Arial, Helvetica, sans-serif
    font-size: 30px
    font-weight: 700
    line-height: 26px
    margin: 0 5px 30px
    @media (max-width: $breakpoint-mobile)
      justify-content: center
.has-old-price
  &>.product-amount
    margin-left: 0
    margin-bottom: 20px
    font-size: 24px


    &:before
      display: block
      margin-right: 10px
      content: 'Today:'
    &--new-price
      &:before
        content: 'New price:'
    &.product-amount--old
      color: $def-color
      &:before
        content: 'Before:'
    .line-throw
      position: relative
      &:after
        content: ''
        position: absolute
        display: block
        width: 102%
        height: 2px
        background: $grey
        top: 50%
        margin-top: -.5px
        left: -1%
.line-throw
  position: relative
  &:after
    content: ''
    position: absolute
    display: block
    width: 102%
    height: 2px
    background: $grey
    top: 50%
    margin-top: -.5px
    left: -1%
.amazingcarousel-play-video
  background-image: url('../carouselengine/playvideo-64-64-0.png') !important

.shop-item
  .product-amount
    justify-content: flex-start

.reset-p-top
  .wrapper
    padding-top: 0 !important

.has-select
  align-items: flex-start
  .custom-input
    margin-right: 20px
  .product-select_subscribe
    margin-top: 5px
    width: 80%
  .product-subscribeText
    font-size: 20px
    font-weight: 600
  .product-select-wrapper
    display: flex
    align-items: center
    margin-top: 20px
    @media screen and (max-width: $breakpoint-mobile)
      display: block
  .product-select
    width: 100%
    select
      position: relative
      background: white
      border: 1px solid #eaeaea
      width: 100%
      max-width: 388px
      height: 48px
      display: flex
      align-items: center
      padding: 0 10px
      justify-content: space-between
      cursor: pointer
      transition: .3s
      outline: 0
      &:hover
        border: 1px solid #c4c4c4
      //.product-select_option-wrapper
        //display: block
  .product-select-text
    white-space: nowrap
    margin-right: 20px
    @media screen and (max-width: $breakpoint-mobile)
      margin-bottom: 5px
  .product-select_option-wrapper
    position: absolute
    top: 100%
    background: white
    width: 100%
    left: 0
    margin-top: 1px
    border: 1px solid #eaeaea
    border-top: 0
    border-bottom: 0
    display: none
    .product-select_option
      padding: 10px
      border-bottom: 1px solid #eaeaea
      transition: .2s
      &:hover
        background: #f9f9f9
  .product-select_option
    &.active
      display: none

  .product-price
    margin: 0 !important
    @media screen and (max-width: $breakpoint-mobile)
      .product-amount
        margin: 0 !important
        display: block !important
  .m-flexSbscr
    @media screen and (max-width: $breakpoint-mobile)
      display: block