header
  border-top: 3px solid $red
  a
    font-size: 13px
    color: $l-grey
    @media (min-width: $breakpoint-mobile)
      &:hover
        color: red

  .header-logo
    width: 104px
    display: block
    @media screen and (max-width: $breakpoint-mobile)
      margin: 14px 0 14px 20px
    @media screen and (min-width: $breakpoint-mobile+1)
      &:hover
        opacity: .7


.fixed-header
  .header-logo
    width: 90px
  .second-header
    position: fixed
    left: 0
    top: 124px
    width: 100%
    z-index: 999
    box-shadow: 0 0 15px rgba(#000,.2)
    transition: .2s
    @media screen and (max-width: 450px)
      top: 112px
  //  &__menu-item
  //    a
  //      padding: 20px
  //      @media screen and (min-width: $breakpoint-mobile +1)
  //        padding: 20px 0
  //.btn__mobile-menu
  //  top: 27px
