.facebook-section
  &-content
    &-wrapper
      display: flex
      justify-content: space-between
    &-slider-wrapper
      border: 1px solid #d0d0d0
      padding: 30px
    &-slider
      max-width: 616px
    &-text
      max-width: 450px
      text-align: center
