.limited-opportunity
  background-image: url("../images/limited_opportunity/bg.jpg")
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  padding: 105px 0 150px
  @media screen and (max-width: 767px)
    padding: 30px 0 0
    .wrapper
      padding: 0 15px
  &__products-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 65px
    @media screen and (max-width: 1200px)
      justify-content: center
    @media screen and (max-width: 767px)
      flex-wrap: wrap
      margin-top: 0px
  &__product
    &-item
      width: calc(100%/3 - 60px)
      @media screen and (max-width: 767px)
        margin-bottom: 50px
        width: 100%
      .image-wrapper
        margin-top: auto
        text-align: center
        @media screen and (max-width: 767px)
          padding: 0 30px
    &-description
      margin-top: 20px
      @media screen and (max-width: 767px)
        margin-top: 20px
      p
        color: #000000
        font-family: "PT Sans", Arial, Helvetica, sans-serif
        font-size: 16px
        font-weight: 500
        margin: 0
        text-align: center


  &__product-item
    width: 20%
    padding: 35px 17px
    border: 1px solid #bebebe
    border-right: 0
    &:last-child
      border-right: 1px solid #bebebe
    .image-wrapper
      img
        width: 80%
    @media screen and (max-width: 1200px)
      width: 30%
      &:nth-child(3)
        border-right: 1px solid #bebebe
      &:nth-child(4),
      &:nth-child(5)
        border-top: 0
    @media screen and (max-width: 768px)
      width: 50%
      margin-bottom: 0
      &:nth-child(2),
      &:nth-child(4)
        border-right: 1px solid #bebebe
      &:nth-child(3)
        border-top: 0
        border-right: 0
      &:last-child
        margin-bottom: 40px
    @media screen and (max-width: 500px)
      width: 70%
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5)
        border-right: 1px solid #bebebe
        border-top: 0
      &:nth-child(1)
        border-top: 1px solid #bebebe
    @media screen and (max-width: 400px)
      width: 100%


