.blog-post
  display: flex
  justify-content: space-between
  margin: 0 auto
  max-width: 1170px
  width: 100%
  @media screen and (max-width: 767px)
    flex-wrap: wrap
  &__content
    padding: 0 30px
    width: 75%
    @media screen and (max-width: 767px)
      width: 100%
    &-title
      color: #29282e
      letter-spacing: 1px
      font-size: 38px
      font-weight: 700
      line-height: 50px
      padding: 0 15px
      text-align: center
      text-transform: capitalize
      @media screen and (max-width: 767px)
        font-size: 1.5em
        line-height: 1.5em
        padding: 0 5px
    &-image-wrapper
      border: 1px solid #eaeaea
      padding: 30px
      text-align: center
      width: 100%
      @media screen and (max-width: 767px)
        padding: 0
      img
        display: block
    p
      color: #494949
      font-size: 15px
      line-height: 1.87
      font-family: "PT Sans", Arial, Helvetica, sans-serif
      font-weight: 400
      letter-spacing: 0
      margin: 15px 0
    a
      color: #eb212e
      cursor: pointer
      font-style: italic
      font-weight: 700
    ol, ul
      margin: 15px 0
      padding-left: 15px
      @media screen and (max-width: 767px)
        padding-left: 5px
      li
        color: #494949
        font-size: 15px
        line-height: 1.87
        font-family: "PT Sans", Arial, Helvetica, sans-serif
        font-weight: 400
        letter-spacing: 0
        //margin: 15px 0
        padding-left: 15px
        @media screen and (max-width: 767px)
          padding-left: 5px
    &-social
      border-bottom: 1px solid #96989c
      border-top: 1px solid #96989c
      display: flex
      justify-content: space-between
      margin-bottom: 50px
      @media screen and (max-width: 767px)
        flex-wrap: wrap
    &-viewlike
      color: #96989c
      display: flex
      font-family: 'PT Sans',Arial,Helvetica sans-serif
      font-size: 20px
      font-weight: 400
      justify-content: flex-start
      line-height: 26px
      margin: 30px 0
      @media screen and (max-width: 767px)
        margin-bottom: 15px
        width: 100%
    &-view
      align-content: center
      margin-right: 20px
    &-like
      display: inline-flex
      &-link
        background-image: url("../images/blog/like-desk-icon.svg")
        display: block
        height: 22px
        margin-right: 5px
        width: 22px
        &:hover, &.active
          background-image: url("../images/blog/like-desk-icon-active.svg")
    &-share
      display: flex
      justify-content: flex-start
      overflow: hidden
      .share-btn
        align-items: center
        background-color: #96989c
        border-radius: 50%
        color: #fff
        cursor: pointer
        display: flex
        justify-content: center
        height: 32px
        margin: 25px 0
        width: 32px
        @media screen and (max-width: 767px)
          margin-top: 10px
      &-list
        box-sizing: border-box
        display: flex
        justify-content: flex-start
        padding: 10px 0 !important
        transition: width 1s
        width: 0
        @media screen and (max-width: 767px)
          margin-top: 0 !important
        &.active
          width: auto
      &-item
        margin-left: 10px
        &:first-child
          //margin-left: 0
        &-link
          align-items: center
          background-color: #000000
          border-radius: 50%
          color: #fff !important
          display: flex
          justify-content: center
          height: 32px
          width: 32px
          &.facebook-share
            background-color: #3252a2
          &.twitter-share
            background-color: #2aa3f0
          &.pinterest-share
            background-color: #bc0f23
          &.email-share
            background-color: #009e27
  &__sidebar
    margin-top: 155px
    width: 25%
    @media screen and (max-width: 767px)
      margin-top: 30px
      width: 100%
    &-title
      letter-spacing: 1px
      font-size: 23px
      font-weight: 700
      line-height: 26px
      color: #29282e
      text-align: center
      margin: 0.30em 0 30px
    .blog
      &__post
        box-sizing: border-box
        margin: 0.30em auto 30px
        max-width: 320px
        width: 100%

