.thank-you-page-template
  .wrapper
    .tp
      &-order-details-block, &-customer-details-block
        border: 1px solid #eaeaea
        box-sizing: border-box
        overflow: hidden
        padding: 30px

.thank-you-page-template
  .wrapper
    .checkout-top-navigation-bar
      margin-bottom: 18px

      .cart-header-block
        .cart-heading
          font-size: 30px !important
          line-height: 49.95px !important

.thank-you-page-template
  .tp-order-details-block-wrapper
    .wrapper
      .tp-order-details-block
        margin-bottom: 30px

        .order_details
          display: flex
          justify-content: flex-start
          margin: -20px 0 0

          li
            line-height: 19px
            margin: 0 0 15px
            padding: 17px 0 0
            width: 34%

            h4
              color: #494949
              font-family: Montserrat, Arial, Helvetica, sans-serif
              font-size: 16px
              font-weight: 700
              line-height: 20.84px
              margin: 0 0 13px

            strong
              font-family: "PT Sans", Arial, Helvetica sans-serif

  .tp-customer-details-block-wrapper
    .wrapper
      .tp-customer-details-block
        .tp-customer-details-info
          display: flex
          justify-content: flex-start
          margin: -12px 0 0

          @media screen and (max-width: 480px)
            flex-wrap: wrap

          .cd-contacts
            width: 35%

            .customer_details
              line-height: 27px
              margin: 0

              h3
                color: #494949
                font-family: Montserrat, Arial, Helvetica, sans-serif
                font-size: 16px
                font-weight: 700
                line-height: 1.88
                margin: 0.30em 0 2px

              dt
                color: #494949
                display: inline-block
                font-family: "PT Sans", Arial, Helvetica, sans-serif
                font-size: 15px
                font-weight: 700
                line-height: 27px
                margin: 0

              dd
                color: #494949
                display: inline-block
                font-family: "PT Sans", Arial, Helvetica, sans-serif
                font-size: 15px
                font-weight: 400
                line-height: 27px
                margin: 0
                padding: 0 3px

          .cd-billing-details
            h3
              color: #494949
              font-family: Montserrat, Arial, Helvetica, sans-serif
              font-size: 16px
              font-weight: 700
              line-height: 1.88
              margin: 0.30em 0 2px

            address
              color: #494949
              font-family: "PT Sans", Arial, Helvetica, sans-serif
              font-style: normal
              font-size: 15px
              font-weight: 400
              line-height: 1.87
              margin-bottom: 20px

              p
                margin: 0 0 20px
  .tp-important-info-block-wrapper
    background-color: #f5f3f3
    border: none
    padding: 30px
    margin-bottom: 30px
    @media screen and (max-width: 767px)
      margin: 0 -30px 30px
    .tp-important-info-block
      text-align: center
      .tp-important-title
        color: #fe0000
        font-size: 38px
        font-weight: 700
        margin: 0 0 30px
        text-transform: uppercase
        @media screen and (max-width: 767px)
          font-size: 21px
          margin: 0 0 15px
      .tp-important-description
        color: #29282e
        font-size: 23px
        font-weight: 700
        margin: 15px 0
        @media screen and (max-width: 767px)
          font-size: 18px
          margin: 10px 0
      .tp-important-questionnaire-link
        color: #29282e
        font-size: 23px
        font-weight: 700
        text-decoration: underline
        @media screen and (max-width: 767px)
          font-size: 18px